body{
    margin: 0;
    padding: 0;
    background-color: #F8F7F3;
    font-family: 'Montserrat', sans-serif;
}
.hero{
    width: 500px;
    height: 550px;
    background-image: url(pics/pic1.jpeg);
    overflow: hidden;
    background-position: center;
    border-radius: 0 70% 70% 60%;
    position: relative;
    background-repeat: no-repeat;
    animation: change 30s infinite ease-in-out ;
    display: inline-block;
}
.logo{
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 45%;
    width: 800px;
}
.logo img{
    width: 500px;
} 
.logo p{
    font-size: 1rem;
    width: 500px;
    font-weight: 700;
    color: #6c584c;
}
h1{
    font-weight: 700;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(45deg,#b62129,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logoUCV{
    margin-bottom: 50px;
}

@keyframes change {
    0%
    {
        background-image: url(pics/pic2.jpeg);
    }
    25%
    {
        background-image: url(pics/pic3.jpeg);
    }
    50%
    {
        background-image: url(pics/pic4.jpeg);
    }
    75%
    {
        background-image: url(pics/pic5.jpeg);
    }
    100%
    {
        background-image: url(pics/pic6.jpeg);
    }
}


/* SECTION ABOUT US */

.aboutus img {
    width: 400px;
    border-color: #3c3c3c;
}





/* SECTION MEMBERS */
.members img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card{
    margin-right: 10px;
}









.btn{
    border-color: #b73c42;
}
.btn:hover{
    background-color: #b73c42;
}
.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.arbre-decisionnel{
    background-color: #ffffff;
    height: 500px;
}

.bg-grey {
    background: #F8F7F3;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}